<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ware Information</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/updateURLParams.js" type="text/javascript"></script>
</head>
<body>
<nav th:include="home :: menuBar"></nav>
<section class="content grid-container">
    <div class="row" style="grid-row: 1">
        <section class="login-info">
            <div class="error-message" th:text="${error}"></div>
        </section>
    </div>
    <div class="row" style="grid-row: 3">
        <div class="columnHalfSpace">
            <h2>Calculations</h2>
            Salaries:
            <form th:if="${salaryList}!=null">
                <table>
                    <thead>
                    <th>Name</th>
                    <th>Salary</th>
                    </thead>

                    <tbody>
                    <tr th:each="salary : ${salaryList}">
                        <td th:text="${salary.employee.name}"></td>
                        <td th:text="${salary.salary}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
</section>
</body>
</html>