<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/updateURLParams.js" type="text/javascript"></script>
    <script src="/scheduleScript.js" type="text/javascript"></script>
    <title>Schedule</title>
</head>
<body>
<nav th:fragment="menuBar">
    <a th:href="@{/home}"><img alt="Diamond Lounge" class="logo" height="50" src="/logo.svg" width="125"></a>
    <a class="nav-element" th:href="@{/home}">Schedule</a>
    <a class="nav-element" th:href="@{/settings/editAccountInformation}">Settings</a>
    <a class="nav-element" th:href="@{/settings}">Storage</a>
    <a class="nav-element" th:href="@{/stats}">Calculations</a>
    <form method="post" th:action="@{/logout}">
        <input class="nav-element" type="submit" value="Log out"/>
    </form>
</nav>

<section class="content">
    <h1 th:inline="text">Logged as [[${#httpServletRequest.remoteUser}]]</h1>
    <form method="get">
        <button class="btn-basic week-btn" th:onclick="'java:buttonClicked(-1);'" type="button">
            PREVIOUS WEEK
        </button>
        <button class="btn-basic week-btn" th:onclick="'java:buttonClicked(1);'" type="button">
            NEXT WEEK
        </button>
    </form>
    <div th:if="${scheduleTable}!=null">
        <h2>Schedule</h2>
        <form>
            <table class="schedule">
                <tbody>
                <tr th:each="j: ${#numbers.sequence(0, scheduleTable.height)}">
                    <td th:each="i: ${#numbers.sequence(0, scheduleTable.width)}"
                        th:text="${scheduleTable.table[i][j]}"></td>
                </tr>
                </tbody>
            </table>
        </form>
        <br>
        <form method="POST" th:action="@{/eraseSchedule}">
            <input id="offsetErase" name="offset" type="hidden">
            <script>
                document.getElementById('offsetErase').value = getParametersValue('offset')
            </script>
            <button class="btn-basic week-btn" type="submit">
                ERASE
            </button>
        </form>
    </div>
    <br>
    <form method="POST" th:action="@{/generateSchedule}" th:if="${scheduleTable}==null">
        <input id="offset" name="offset" type="hidden">
        <script>
            document.getElementById('offset').value = getParametersValue('offset')
        </script>
        <button class="btn-basic week-btn" type="submit">
            GENERATE SCHEDULE
        </button>
    </form>
</section>
</body>
</html>