<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/updateURLParams.js" type="text/javascript"></script>
    <script src="/scheduleScript.js" type="text/javascript"></script>
    <title>Schedule</title>
</head>
<body>
<nav th:fragment="menuBar">
    <a th:href="@{/home}"><img alt="Diamond Lounge" class="logo" height="50" src="/logo.svg" width="125"></a>
    <a class="nav-element" th:href="@{/home}">Schedule</a>
    <a class="nav-element" th:href="@{/settings}">Settings</a>
    <form method="post" th:action="@{/logout}">
        <input class="nav-element" type="submit" value="Log out"/>
    </form>
</nav>

<section class="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form method="get">
        <button class="btn-basic week-btn" th:onclick="'java:buttonClicked(-1);'" type="button">
            PREVIOUS WEEK
        </button>
        <button class="btn-basic week-btn" th:onclick="'java:buttonClicked(1);'" type="button">
            NEXT WEEK
        </button>
    </form>
    <br>
    <form method="POST" th:action="@{/generateSchedule}">
        <button class="btn-basic week-btn" type="submit">
            GENERATE SCHEDULE
        </button>
    </form>
</section>
</body>
</html>