<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Settings</title>
</head>
<body>
<nav th:include="home :: menuBar"></nav>
<section class="content">
    <h1>Storage</h1>
    <form method="GET" th:action="@{/employees/editEmployeeInformation}">
        <button class="btn-basic" th:type="submit">
            EDIT EMPLOYEE INFORMATION
        </button>
    </form>
    <br>
    <form method="GET" th:action="@{/shops/editShopInformation}">
        <button class="btn-basic" th:type="submit">
            EDIT SHOP INFORMATION
        </button>
    </form>
    <br>
    <form method="GET" th:action="@{/wares/editWareInformation}">
        <button class="btn-basic" th:type="submit">
            EDIT WARE INFORMATION
        </button>
    </form>
    <br>
    <section class="italic-grey-text">
        <div class="error-message" th:text="${error}"></div>
    </section>
</section>
</body>
</html>