<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Settings</title>
</head>
<body>
<nav>
    <a th:href="@{/home}"><img alt="Diamond Lounge" class="logo" height="50" src="/logo.svg" width="125"></a>
    <a class="nav-element" th:href="@{/home}">Schedule</a>
    <a class="nav-element" th:href="@{/settings}">Settings</a>
    <form method="post" th:action="@{/logout}">
        <input class="nav-element" type="submit" value="Log out"/>
    </form>
</nav>

<section class="content">
    <h1>Settings</h1>
    <form method="GET" th:action="@{/settings/editAccountInformation}">
        <button class="btn-basic" th:type="submit">
            EDIT ACCOUNT INFORMATION
        </button>
    </form>
    <br>
    <form method="GET" th:action="@{/settings/editBusinessInformation}">
        <button class="btn-basic" th:type="submit">
            EDIT BUSINESS INFORMATION
        </button>
    </form>
    <br>
    <section class="login-info">
        <div class="error-message" th:text="${error}"></div>
        <div class="error-message" th:if="${userEdited}">
            Information saved!
        </div>
        <div class="error-message" th:if="${passwordChanged}">
            Password is changed!
        </div>
    </section>
</section>
</body>
</html>