<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Business Information</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="front">
<nav>
    <a th:href="@{/home}"><img alt="Diamond Lounge" class="logo" height="50" src="/logo.svg" width="125"></a>
    <a class="nav-element" th:href="@{/home}">Schedule</a>
    <a class="nav-element" th:href="@{/settings}">Settings</a>
    <form method="post" th:action="@{/logout}">
        <input class="nav-element" type="submit" value="Log out"/>
    </form>
</nav>

<section class="content row">
    <div class="row">
        <div class="column">
            <h2>Add Employee</h2>
            <form method="post" th:action="@{/settings/addEmployee}">
                Name:
                <div><input class="input-field" name="name" placeholder="Name" required type="text"/></div>
                Time factor:
                <div><input class="input-field" name="timeFactor" placeholder="Time factor" required step="0.01"
                            type="number"/></div>
                Localization:
                <div><input class="input-field" name="localization" placeholder="Localization" required type="text"/>
                </div>
                Wage:
                <div><input class="input-field" name="wage" placeholder="Wage" required step="0.01" type="number"/>
                </div>
                <button class="btn-login btn-basic" type="submit">ADD</button>
            </form>
        </div>
        <div class="column">
            <form class="home-table">
                <table>
                    <thead>
                    <th>Starting date</th>
                    <th>End date</th>
                    </thead>

                    <tbody>
                    <tr th:each="appointment : ${timetable}"
                        th:onclick="'javascript:rowClicked(\'' + ${appointment.id} + '\');'">
                        <td th:text="${#temporals.format(appointment.startDate, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${#temporals.format(appointment.endDate, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${appointment.client.name}"></td>
                        <td th:text="${appointment.client.surname}"></td>
                        <td th:text="${appointment.client.gymName}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2>Add shop</h2>
            <form method="post" th:action="@{/settings/addShop}">
                TO BE IMPLEMENTED
            </form>
        </div>
    </div>
</section>
</body>
</html>