<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Account Information</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<nav>
    <a th:href="@{/home}"><img alt="Diamond Lounge" class="logo" height="50" src="/logo.svg" width="125"></a>
    <a class="nav-element" th:href="@{/home}">Schedule</a>
    <a class="nav-element" th:href="@{/settings}">Settings</a>
    <form method="post" th:action="@{/logout}">
        <input class="nav-element" type="submit" value="Log out"/>
    </form>
</nav>

<section class="content row" th:if="${user}!=null">
    <div class="columnHalfSpace">
        <h2>Edit username</h2>
        <form method="post" th:action="@{/settings/editAccountInformation}">
            Name:
            <div><input class="input-field" name="username" placeholder="Name" th:value="${user.username}" type="text"/>
            </div>
            <button class="btn-login btn-basic" type="submit">SAVE</button>
        </form>
    </div>

    <div class="columnHalfSpace">
        <h2>Change password</h2>
        <form method="post" th:action="@{/settings/changePassword}">
            Current password:
            <div><input class="input-field" name="currentPassword" placeholder="Password" type="password"/></div>

            New password:
            <div><input class="input-field" name="newPassword" placeholder="New password" type="password"/></div>

            Confirm new password:
            <div><input class="input-field" name="confirmNewPassword" placeholder="Confirm new password"
                        type="password"/></div>

            <button class="btn-login btn-basic" type="submit">CONFIRM</button>
        </form>
    </div>
</section>
</body>
</html>